
.video-loading{
    width:100%;
    height:588px;
    position:absolute;
    top:0;
    left:0;
    background-color: #523e2533;
    background-image: $videoLoading-img;
    background-repeat: no-repeat;
    background-position: center center;
}